.progress-bar {
  margin-top:10px;
  padding:10px;
}
.progress-bar .init {
  width:0;
}
.progress-bar.h-32-green {
  height:16px;
  background:transparent url('/sites/all/modules/d4os/plugins/d4os_ui_stats/levels/widgets/bars/images/16/h_green.png') repeat-x scroll left top;
}
.progress-bar.h-32-yellow {
  height:16px;
  background:transparent url('/sites/all/modules/d4os/plugins/d4os_ui_stats/levels/widgets/bars/images/16/h_yellow.png') repeat-x scroll left top;
}
.progress-bar.h-32-red {
  height:16px;
  background:transparent url('/sites/all/modules/d4os/plugins/d4os_ui_stats/levels/widgets/bars/images/16/h_red.png') repeat-x scroll left top;
}
.progress-bar.h-32-green {
  height:32px;
  background:transparent url('/sites/all/modules/d4os/plugins/d4os_ui_stats/levels/widgets/bars/images/32/h_green.png') repeat-x scroll left top;
}
.progress-bar.h-32-yellow {
  height:32px;
  background:transparent url('/sites/all/modules/d4os/plugins/d4os_ui_stats/levels/widgets/bars/images/32/h_yellow.png') repeat-x scroll left top;
}
.progress-bar.h-32-red {
  height:32px;
  background:transparent url('/sites/all/modules/d4os/plugins/d4os_ui_stats/levels/widgets/bars/images/32/h_red.png') repeat-x scroll left top;
}
