.progress-bar {
  margin-top:10px;
  padding:10px;
}
.progress-bar .init {
  width:0;
}
.progress-bar.h-16-green,
.progress-bar.h-16-yellow,
.progress-bar.h-16-red,
.progress-bar.h-32-green,
.progress-bar.h-32-yellow,
.progress-bar.h-32-red {
  border:1px solid #ccc;
  padding:10px;
  padding-left:20px;
  margin-top:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.progress-bar.h-16-green {
  height:16px;
  background-color:green;
  /*background:transparent url('/sites/all/modules/d4os/ui/d4os_ui_grid_monitor/d4os_ui_grid_monitor_hosts/d4os_ui_grid_monitor_hosts_levels/widgets/bars/images/16/h_green.png') repeat-x scroll left top;*/
}
.progress-bar.h-16-yellow {
  height:16px;
  background-color:yellow;
  /*background:transparent url('/sites/all/modules/d4os/ui/d4os_ui_grid_monitor/d4os_ui_grid_monitor_hosts/d4os_ui_grid_monitor_hosts_levels/widgets/bars/images/16/h_yellow.png') repeat-x scroll left top;*/
}
.progress-bar.h-16-red {
  height:16px;
  background-color:red;
  /*background:transparent url('/sites/all/modules/d4os/ui/d4os_ui_grid_monitor/d4os_ui_grid_monitor_hosts/d4os_ui_grid_monitor_hosts_levels/widgets/bars/images/16/h_red.png') repeat-x scroll left top;*/
}
.progress-bar.h-32-green {
  height:32px;
  background-color:green;
  /*background:transparent url('/sites/all/modules/d4os/ui/d4os_ui_grid_monitor/d4os_ui_grid_monitor_hosts/d4os_ui_grid_monitor_hosts_levels/widgets/bars/images/32/h_green.png') repeat-x scroll left top;*/
}
.progress-bar.h-32-yellow {
  height:32px;
  background-color:yellow;
  /*background:transparent url('/sites/all/modules/d4os/ui/d4os_ui_grid_monitor/d4os_ui_grid_monitor_hosts/d4os_ui_grid_monitor_hosts_levels/widgets/bars/images/32/h_yellow.png') repeat-x scroll left top;*/
}
.progress-bar.h-32-red {
  height:32px;
  background-color:red;
  /*background:transparent url('/sites/all/modules/d4os/ui/d4os_ui_grid_monitor/d4os_ui_grid_monitor_hosts/d4os_ui_grid_monitor_hosts_levels/widgets/bars/images/32/h_red.png') repeat-x scroll left top;*/
}
